.body{
  background-color: lavender;
  color: navy;
  margin: 0 auto;
}



/* p{
  color: rgb(136, 136, 136);
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

.footer{
  margin-top: 0rem;
  padding: 0rem;
  background-color: orange;
position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
} */